@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');
$poppins: 'Poppins', sans-serif;
$sans: 'Source Sans Pro', sans-serif;
.container {
  padding-inline: 4rem;
}
h1,
h2,
h3 {
  font-family: $sans;
}
input,
textarea ,button {
  font-family: $poppins;
  font-size: 1.2rem;
  padding-inline:  .45rem;
}
