<link rel="stylesheet" href="/dist/about.css" />
<div class="container">
  <div class="header"><h1>About Us</h1></div>
  <div class="content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, esse! Error
    cumque ipsa pariatur animi voluptatum accusamus ratione exercitationem fuga?
    Saepe repellendus officia fuga nemo, sequi aliquam, enim provident fugit et
    quis reiciendis. Assumenda vero harum autem eligendi perferendis, qui ex
    corrupti dolores beatae, voluptatem at corporis, placeat eum ea.
  </div>
</div>
