<link rel="stylesheet" href="/dist/contact.css">
<div class="container">

  <h1>Contact Us</h1>
  <div class="content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit cupiditate
    assumenda exercitationem tempora quisquam! Laudantium, perspiciatis. Minima
    ullam officiis neque id perspiciatis eveniet optio rem at provident
    reprehenderit eligendi nemo amet cupiditate accusantium quibusdam animi illo
    enim perferendis, voluptatum rerum?
  </div>
</div>
