<link rel="stylesheet" href="/dist/home.css" />
<div class="container">
  <div class="heading">Home Page</div>
  <div class="content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae perspiciatis
    fuga numquam consectetur doloribus quos dolor soluta odit reiciendis quas
    voluptatum, labore blanditiis amet ea non architecto eaque ipsum. Ut
    consequuntur expedita ratione fuga, doloremque animi debitis dolorem sint.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae perspiciatis
    fuga numquam consectetur doloribus quos dolor soluta odit reiciendis quas
    voluptatum, labore blanditiis amet ea non architecto eaque ipsum. Ut
    consequuntur expedita ratione fuga, doloremque animi debitis dolorem sint.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae perspiciatis
    fuga numquam consectetur doloribus quos dolor soluta odit reiciendis quas
    voluptatum, labore blanditiis amet ea non architecto eaque ipsum. Ut
    consequuntur expedita ratione fuga, doloremque animi debitis dolorem sint.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae perspiciatis
    fuga numquam consectetur doloribus quos dolor soluta odit reiciendis quas
    voluptatum, labore blanditiis amet ea non architecto eaque ipsum. Ut
    consequuntur expedita ratione fuga, doloremque animi debitis dolorem sint.
    Fugit?
  </div>
</div>
