<link rel="stylesheet" href="/dist/home.css" />
<div class="container">
  <% for( let post of posts ) { %>
  <div class="post-container">
    <div class="heading"><%= post.title %></div>
    <div class="content" data-content data-content-id = "<%= post.id %>"><%= post.content %></div>
  </div>
  <% } %>
</div>
<script src="/js/home.js"></script>
