<link rel="stylesheet" href="/dist/home.css" />
<div class="container">
  <div class="post-container">
    <div class="heading"><%= post.title %></div>
    <div class="content" data-content><%= post.content %></div>
  </div>
</div>
